<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <nz-form-item>
    <nz-form-control>
      <app-table [loading]="loadingService.isLoading()"
                 [rows]="berries"
                 (toggleItem)="handleToggleItem($event)"
                 [selectable]="true"
                 [selectedItemId]="selectedId"/>
      <div class="ant-form-item-explain-error">
        @if (formGroup.controls?.['selectedId']?.errors?.['maxlength']) {
          You can add up to 5 berries
        }
        @if (formGroup.controls?.['selectedId']?.errors?.['minlength']) {
          You need to add at least 1 berry
        }
      </div>
    </nz-form-control>
  </nz-form-item>
  <div nz-flex nzGap="large">
    <a nz-button [routerLink]="'/team-builder/build/potions'">Go back</a>
    <button [disabled]="selectedId.length===0" nz-button nzType="primary">Next</button>
  </div>
</form>
