.donut-with-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  min-width: 120px;
  font-weight: 600;
  user-select: none;
  cursor: default;
  transition: transform 0.3s ease;
}

.tag.bug {
  background: #92BC2C;
  color: #3a4d0b;
}

.tag.dark {
  background: #595761;
  color: #f0f0f0;
}

.tag.dragon {
  background: #0C69C8;
  color: #f0f0f0;
}

.tag.electric {
  background: #F2D94E;
  color: #4d4600;
}

.tag.fire {
  background: #FBA54C;
  color: #4e2a00;
}

.tag.fairy {
  background: #EE90E6;
  color: #5d2d71;
}

.tag.fighting {
  background: #D3425F;
  color: #f0f0f0;
}

.tag.flying {
  background: #A1BBEC;
  color: #1e3170;
}

.tag.ghost {
  background: #5F6DBC;
  color: #f0f0f0;
}

.tag.grass {
  background: #5FBD58;
  color: #264d16;
}

.tag.ground {
  background: #DA7C4D;
  color: #4f2d14;
}

.tag.ice {
  background: #75D0C1;
  color: #12433f;
}

.tag.normal {
  background: #A0A29F;
  color: #3c3c3a;
}

.tag.poison {
  background: #B763CF;
  color: #3c1460;
}

.tag.psychic {
  background: #FA8581;
  color: #5a2625;
}

.tag.rock {
  background: #C9BB8A;
  color: #4e4a26;
}

.tag.steel {
  background: #5695A3;
  color: #e3eff2;
}

.tag.water {
  background: #539DDF;
  color: #f0f7ff;
}

.tag.highlighted {
  transform: scale(1.05);
}
